<div>
  <md-toolbar color="primary">
    <span class="width-100-percent text-center">New Bucket</span>
  </md-toolbar>
</div>
<div class="padding-all-10">
  <md-input-container class="width-100-percent">
    <input mdInput #bName maxlength="30" type="text" placeholder="Bucket Name">
    <md-hint align="end">{{bName.value.length}} / 30</md-hint>
  </md-input-container>
  <button md-raised-button class="width-100-percent margin-top-bottom-10">Save</button>
  <button md-raised-button class="width-100-percent margin-top-bottom-10" routerLink="/home">Cancel</button>
</div>
