<div>
  <md-toolbar color="primary">
    <i class="material-icons">menu</i>
    <span class="width-100-percent text-center">Money Bucket</span>
    <i class="material-icons">settings</i>
  </md-toolbar>
  <div class="width-100-percent">
    <button md-button class="width-100-percent" style="height: 50px;"><i class="material-icons">add</i> Add new bucket</button>
  </div>
</div>
<div class="width-100-percent" style="border-top: 1px solid black;">
  <app-bucket-list *ngFor="let item of bucket_list" [bucket_name]="item.name"></app-bucket-list>
</div>
